<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>定时巡店</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>事件管理</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>事件统计</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>考评数据</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>车流统计</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>客流统计</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>客流分析</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>门店防盗</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>脱岗巡查</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>消息中心</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>现场巡店</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>摇一摇巡店</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>签到</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
</plist>
